.searchBtn {
    width: 100%;
    background-color: #06aed5;
    color: white;
    margin-top: 10px;
}

img {
    object-fit: cover;
}

.error {
    font-size:larger;
}

.newBtn {
    width: 100%;
    background-color: #777777;
    color: white;
    margin-top: 10px;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}