@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.searchBtn {
    width: 100%;
    background-color: #06aed5;
    color: white;
    margin-top: 10px;
}

img {
    object-fit: cover;
}

.error {
    font-size:larger;
}

.newBtn {
    width: 100%;
    background-color: #777777;
    color: white;
    margin-top: 10px;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.message, .message:hover {
    text-align: center;
    background-color: #06aed5;
    cursor: default;
    padding-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    outline: solid 1px #4b4b4b;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: relative;
    top: 0.2rem;
    animation: openclose 15s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: 0.2rem;     
    }
    48% {
      top: 0.2rem;
      width: 230px;
    }
    62% {
      top: 0.2rem;
      width: 230px;
    }
    66% {
      top: 0.2rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: 0.2rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: 0.2rem;
      width: 230px;
    }
    95% {
      top: 0.2rem;
      width: 230px;
    }
    98% {
      top: 0.2rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0.2rem;
      width: 0;
      text-indent: 0;
    }
  }